@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Press+Start+2P&display=swap');



body {
  margin: 0;
  padding: 0;
  background-image: url('../../images/xw44gk6qq9k41.png');
  background-size: cover;
  background-position: center 10px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  font-family: 'Press Start 2P', cursive;
  color: #f4e8c1;
  text-shadow: 2px 2px #000;
  height: 100vh;
}

body::after {
  content: "futur de l'ecuyer";
  color: transparent;
  text-shadow: none;
  font-size: 30px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  pointer-events: none;
}

.pixel-img {
  display: block;
  margin: 0 auto 40px auto;
  image-rendering: pixelated;
  width: 428px;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  border: 4px solid #a77b42;
  background-color: rgba(20, 20, 20, 0.9);
  box-shadow: 0 0 20px #000;
}

h1, h2 {
  text-align: center;
  margin: 20px 0;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  padding: 10px 20px;
  background-color: #db0202;
  color: #fff;
  border: 2px solid #a77b42;
  cursor: pointer;
 
}

button:hover {
  background-color: #666;
}

.btn-alert1, .btn-alert2, .btn-alert3 {
  background-color: darkred;
  color: white;
  font-family: 'MedievalSharp';
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid #4c2f15; 
  border-radius: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-alert1:hover {
  background-color: crimson;
  transform: scale(1.1);
}

.btn-alert2:hover {
  background-color: rgb(50, 237, 25);
  transform: scale(1.1);
}

.btn-alert3:hover {
  background-color: rgb(19, 153, 183);
  transform: scale(1.1);
}

.menu {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.enigme {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000;    
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  overflow: auto;  
}

.modal-content {
  background-color: #f4e8c1; 
  margin: 15% auto;
  padding: 40px 20px;
  border: 4px solid #7c4b35; 
  width: 70%;
  border-radius: 15px;
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  animation: modalEntrance 0.5s ease-in-out;
}

@keyframes modalEntrance {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.close {
  color: #f6a800;
  font-size: 78px;
  font-weight: bold;
  position: sticky;
  top: 30px;
  right: 20px;
}

.close:hover,
.close:focus {
  color: rgb(225, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

#modal-message {
  font-size: 30px;
  color: #b40202;
  padding: 10px;
  margin: 0;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  font-family: 'MedievalSharp', cursive;
  border: 4px solid #e7e307;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  width: 40%;
  margin-top: 20px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #d4af37;
}

.enigme p {
  font-size: 1.5em;
  font-family: 'MedievalSharp', cursive;
  margin-top: 20px;
}
